.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.layout {
    height: 100%;

    .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }

    :global(.ant-layout-header) {
        // 一些样式
        background-color: #fff;
    }
}

// 或者